* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #ff6b6b, #8e0e00);
}

.form-card {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    color: white;
    animation: fadeIn 1s ease-in-out;
}

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.form-header p {
    font-size: 14px;
    opacity: 0.8;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s ease;
    pointer-events: none;
}




.input-group input:focus+label,
.input-group input:valid+label {
    top: -10px;
    font-size: 12px;
    color: #fff;
}

.register-btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.3);
}


